#
# Service translations
#
# @language		en_US
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:UINode!
# @subpackage	Translations
# @since		0.1.0
#
# @date			25.05.20
#

base:
	messages:
