#
# Service DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:UINode!
# @subpackage	config
# @since		0.1.0
#
# @date			25.05.20

##############################
# Node predefined parameters #
##############################

parameters:
	origin: com.fastybird.ui-module

	rabbitmq:
		queueName: fb.ui.node.exchange
		routing:
			- fb.bus.entity.*.device	# Entities
			- fb.bus.entity.*.device.*	# Entities
			- fb.bus.entity.*.channel	# Entities
			- fb.bus.entity.*.channel.*	# Entities
			- fb.bus.entity.*.account	# Entities
			- fb.bus.entity.*.email		# Entities
			- fb.bus.entity.*.identity	# Entities
			- fb.bus.entity.*.trigger	# Entities
			- fb.bus.entity.*.trigger.*	# Entities

#########################
# Used Nette extensions #
#########################

extensions:
	contributteTranslation				: Contributte\Translation\DI\TranslationExtension
	nettrineAnnotations					: Nettrine\Annotations\DI\AnnotationsExtension
	nettrineCache						: Nettrine\Cache\DI\CacheExtension
	nettrineDbal						: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm							: Nettrine\ORM\DI\OrmExtension
	nettrineOrmAnnotations				: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrineOrmConsole					: Nettrine\ORM\DI\OrmConsoleExtension
	nettrineOrmCache					: Nettrine\ORM\DI\OrmCacheExtension
	fbDateTimeFactory					: FastyBird\DateTimeFactory\DI\DateTimeFactoryExtension
	fbSimpleAuth						: FastyBird\SimpleAuth\DI\SimpleAuthExtension
	fbDatabase							: FastyBird\Database\DI\DatabaseExtension
	fbJsonApi							: FastyBird\JsonApi\DI\JsonApiExtension
	fbModulesMetadata					: FastyBird\ModulesMetadata\DI\ModulesMetadataExtension
	fbWebServer							: FastyBird\WebServer\DI\WebServerExtension
	fbUiModule							: FastyBird\UIModule\DI\UIModuleExtension
	fbRabbitMqPlugin					: FastyBird\RabbitMqPlugin\DI\RabbitMqPluginExtension
	ipubDoctrineConsistence				: IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
	ipubDoctrineCrud					: IPub\DoctrineCrud\DI\DoctrineCrudExtension
	ipubDoctrineTimestampable			: IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
	ipubDoctrineDynamicDiscriminatorMap	: IPub\DoctrineDynamicDiscriminatorMap\DI\DoctrineDynamicDiscriminatorMapExtension
	ipubWebSocketsWAMP					: IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension
	ipubWebSockets						: IPub\WebSockets\DI\WebSocketsExtension

##################################
# Nette extensions configuration #
##################################

# Simple authentication
#####################
fbSimpleAuth:
	token:
		issuer: %security.issuer%
		signature: %security.signature%
	enable:
		middleware: true
		doctrine:
			mapping: true
	services:
		identity: true

# RabbitMQ exchange
####################
fbRabbitMqPlugin:
	origin: %origin%
	rabbitMQ:
		connection:
			host: %exchange.host%
			port: %exchange.port%
			vhost: %exchange.vhost%
			username: %exchange.username%
			password: %exchange.password%
		queue:
			name: %rabbitmq.queueName%
		routing:
			keys: %rabbitmq.routing%

# Web server
#################
fbWebServer:
	server:
		address: %server.address%
		port: %server.port%

# WS server extension
#####################
ipubWebSockets:
	server:
		address: %server.address%
		port: %ws.port%

	mapping:
		*: FastyBird\UIModule\Controllers\*Controller

	routes:
		'/io/exchange' : 'Exchange:'

# Node translations
###################
contributteTranslation:
	locales:
		default: en_US
		fallback: [en_US, en]
	localeResolvers: []

# Doctrine DBAL
###############
nettrineDbal:
	connection:
		serverVersion: %database.version%
		host: %database.host%
		port: %database.port%
		driver: %database.driver%
		memory: %database.memory%
		dbname: %database.dbname%
		user: %database.username%
		password: %database.password%
		charset: utf8

		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false
			utcdatetime:
				class: IPub\DoctrineTimestampable\Types\UTCDateTime
				commented: false

		typesMapping:
			uuid_binary: binary

# Doctrine ORM annoations
#########################
nettrineAnnotations:
	debug: %debugMode%
	ignore:
		- writable
		- validator
		- module
		- author
		- subpackage
		- package
		- phpcsSuppress

# Doctrine ORM
##############
nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
	mapping: []

#############################
# Node services definitions #
#############################

decorator:
	FastyBird\WebServer\Commands\HttpServerCommand:
		setup:
			- '$onBeforeServerStart[]' = @FastyBird\UINode\Events\ServerBeforeStartHandler
			- '$onAfterServerStart[]' = @FastyBird\UINode\Events\ServerAfterStartHandler

	FastyBird\RabbitMqPlugin\Exchange:
		setup:
			- '$onAfterConsumeMessage[]' = @FastyBird\UINode\Events\AfterConsumeHandler

services:
	# Console commands
	##################

	- {factory: FastyBird\UINode\Commands\InitializeCommand}

	# Message bus messages handlers
	###############################

	- {factory: FastyBird\UINode\Consumers\AuthModuleMessageHandler}

	- {factory: FastyBird\UINode\Consumers\DevicesModuleMessageHandler}

	- {factory: FastyBird\UINode\Consumers\TriggersModuleMessageHandler}

	# Node events
	#############

	- {factory: FastyBird\UINode\Events\AfterConsumeHandler}

	- {factory: FastyBird\UINode\Events\ServerBeforeStartHandler}

	- {factory: FastyBird\UINode\Events\ServerAfterStartHandler}

	# Sockets services
	##################

	- {factory: FastyBird\UINode\Sockets\Publisher}
