#
# Service DI configuration
#
# @license		More in license.md
# @copyright	https://www.fastybird.com
# @author		Adam Kadlec <adam.kadlec@fastybird.com>
# @package		FastyBird:UINode!
# @subpackage	config
# @since		0.1.0
#
# @date			25.05.20

##############################
# Node predefined parameters #
##############################

parameters:
	origin: com.fastybird.ui-node

	rabbitmq:
		queueName: fb.ui.node.exchange

#########################
# Used Nette extensions #
#########################

extensions:
	contributteTranslation		: Contributte\Translation\DI\TranslationExtension
	ipubDoctrineConsistence		: IPub\DoctrineConsistence\DI\DoctrineConsistenceExtension
	ipubDoctrineCrud			: IPub\DoctrineCrud\DI\DoctrineCrudExtension
	ipubDoctrineTimestampable	: IPub\DoctrineTimestampable\DI\DoctrineTimestampableExtension
	nettrineAnnotations			: Nettrine\Annotations\DI\AnnotationsExtension
	nettrineCache				: Nettrine\Cache\DI\CacheExtension
	nettrineDbal				: Nettrine\DBAL\DI\DbalExtension
	nettrineOrm					: Nettrine\ORM\DI\OrmExtension
	nettrineOrmAnnotations		: Nettrine\ORM\DI\OrmAnnotationsExtension
	nettrineOrmConsole			: Nettrine\ORM\DI\OrmConsoleExtension
	nettrineOrmCache			: Nettrine\ORM\DI\OrmCacheExtension
	nodeWebServer				: FastyBird\NodeWebServer\DI\NodeWebServerExtension

##################################
# Nette extensions configuration #
##################################

# Node web server
#################
nodeWebServer:
	server:
		address: %server.address%
		port: %server.port%

# Node translations
###################
contributteTranslation:
	locales:
		default: en_US
		fallback: [en_US, en]
	localeResolvers: []
	dirs:
		- %appDir%/src/Translations

# Doctrine DBAL
###############
nettrineDbal:
	connection:
		serverVersion: %database.version%
		host: %database.host%
		port: %database.port%
		driver: %database.driver%
		memory: %database.memory%
		dbname: %database.dbname%
		user: %database.username%
		password: %database.password%
		charset: utf8

		types:
			uuid_binary:
				class: Ramsey\Uuid\Doctrine\UuidBinaryType
				commented: false
			utcdatetime:
				class: IPub\DoctrineTimestampable\Types\UTCDateTime
				commented: false

		typesMapping:
			uuid_binary: binary

# Doctrine ORM annoations
#########################
nettrineAnnotations:
	debug: %debugMode%
	ignore:
		- writable
		- validator
		- required
		- module
		- author
		- subpackage
		- package

# Doctrine ORM
##############
nettrineOrm:
	configuration:
		proxyDir	: %tempDir%/cache/doctrine.proxies

nettrineOrmAnnotations:
	paths:
		- %appDir%/src/Entities

#############################
# Node services definitions #
#############################

decorator:
	FastyBird\NodeWebServer\Commands\HttpServerCommand:
		setup:
			- '$onServerStart[]' = @FastyBird\UINode\Events\ServerStartHandler
			- '$onRequest[]' = @FastyBird\UINode\Events\RequestHandler
			- '$onResponse[]' = @FastyBird\UINode\Events\ResponseHandler
			- '$onAfterConsumeMessage[]' = @FastyBird\UINode\Events\AfterConsumeHandler

services:
	# Http router
	#############

	- {factory: FastyBird\UINode\Middleware\JsonApiMiddleware, tags: [middleware: {priority: 10}]}

	- {factory: FastyBird\UINode\Middleware\DbErrorMiddleware, tags: [middleware: {priority: 50}]}

	-
		factory: FastyBird\UINode\Router\Router
		setup:
			- registerRoutes

	# Node events
	#############

	- {factory: FastyBird\UINode\Events\ServerStartHandler}

	- {factory: FastyBird\UINode\Events\RequestHandler}

	- {factory: FastyBird\UINode\Events\ResponseHandler}

	- {factory: FastyBird\UINode\Events\AfterConsumeHandler}

	# Database repositories
	#######################

	- {factory: FastyBird\UINode\Models\Dashboards\DashboardRepository}

	- {factory: FastyBird\UINode\Models\Groups\GroupRepository}

	- {factory: FastyBird\UINode\Models\Widgets\WidgetRepository}

	- {factory: FastyBird\UINode\Models\Widgets\DataSources\DataSourceRepository}

	# Database managers
	###################

	- {factory: FastyBird\UINode\Models\Dashboards\DashboardsManager(@ipubDoctrineCrud.crud::create(FastyBird\UINode\Entities\Dashboards\Dashboard))}

	- {factory: FastyBird\UINode\Models\Groups\GroupsManager(@ipubDoctrineCrud.crud::create(FastyBird\UINode\Entities\Groups\Group))}

	- {factory: FastyBird\UINode\Models\Widgets\WidgetsManager(@ipubDoctrineCrud.crud::create(FastyBird\UINode\Entities\Widgets\Widget))}

	- {factory: FastyBird\UINode\Models\Widgets\Displays\DisplaysManager(@ipubDoctrineCrud.crud::create(FastyBird\UINode\Entities\Widgets\Display\Display))}

	- {factory: FastyBird\UINode\Models\Widgets\DataSources\DataSourcesManager(@ipubDoctrineCrud.crud::create(FastyBird\UINode\Entities\Widgets\DataSources\DataSource))}

	# API controllers
	#################

	- {factory: FastyBird\UINode\Controllers\DashboardsV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\UINode\Controllers\GroupsV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\UINode\Controllers\WidgetsV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\UINode\Controllers\DisplayV1Controller, tags: [nette.inject]}

	- {factory: FastyBird\UINode\Controllers\DataSourceV1Controller, tags: [nette.inject]}

	# API schemas
	#############

	- {factory: FastyBird\UINode\Schemas\Dashboards\DashboardSchema}

	- {factory: FastyBird\UINode\Schemas\Groups\GroupSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\AnalogActuatorSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\AnalogSensorSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\DigitalActuatorSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\DigitalSensorSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\DataSources\ChannelDataSourceSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\Display\AnalogValueSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\Display\ButtonSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\Display\ChartGraphSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\Display\DigitalValueSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\Display\GaugeSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\Display\GroupedButtonSchema}

	- {factory: FastyBird\UINode\Schemas\Widgets\Display\SliderSchema}

	# API hydrators
	###############

	- {factory: FastyBird\UINode\Hydrators\Dashboards\DashboardHydrator}

	- {factory: FastyBird\UINode\Hydrators\Groups\GroupHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\AnalogActuatorWidgetHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\AnalogSensorWidgetHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\DigitalActuatorWidgetHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\DigitalSensorWidgetHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\DataSources\ChannelDataSourceHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\Displays\AnalogValueHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\Displays\ButtonHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\Displays\ChartGraphHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\Displays\DigitalValueHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\Displays\GaugeHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\Displays\GroupedButtonHydrator}

	- {factory: FastyBird\UINode\Hydrators\Widgets\Displays\SliderHydrator}
